* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #cccccc;
}

body {
  background-color: #333333;
}
